@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h2>Menú</h2>
<ul>
    <li>@Html.ActionLink("Home","Index","Home")</li>
    <li>@Html.ActionLink("Crear Personaje","Create","Personaje")</li>
    <li>@Html.ActionLink("Lista Personaje","Index","Personaje")</li>
</ul>

</div>
